@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./theme.css";
@import "./buttons.css";
@import "./msg-box.css";
@import "./utilities.css";

/* Estilos gerais do app */
.table {
    text-align: center;
}

/* Estilos do layout */
body {
    background-color: var(--background-color);
    height: 100vh;
    overflow: hidden;
}

.app-container {
    height: 100%;
    background-color: lightgray;
}

main.container {
    background-color: white;
    /* margin-left: 0; */
}

.sidebar {
    width: 250px;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    transition: width 0.3s;
    height: 100%;
}

.sidebar.collapsed {
    width: 70px;
}

.sidebar a {
    color: var(--sidebar-text-color);
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.sidebar a:hover {
    background-color: var(--app-tertiary-color);
    color: #fff;
}

.sidebar .nav-link:focus {
    color: var(--sidebar-text-color);
}

.sidebar.collapsed a {
    justify-content: center;
}

.sidebar a .icon {
    margin-right: 8px;
}

.sidebar.collapsed a .text {
    display: none;
}

.sidebar.collapsed .menu-title {
    justify-content: center;
    padding-left: 0;
}
.sidebar.collapsed .menu-title span {
    display: none;
}

.menu-title img {
    width: 38px;
}

.hamburger-btn {
    /* display: none; */
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--header-text-color);
}

.content {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    min-height: 5rem;
    padding: 15px 25px;
}

.sidebar-header {
    background-color: var(--sidebar-header-bg-color);
    border-bottom: 1px solid #20252b;
}

/* Responsividade */
@media (max-width: 992px) {
    .sidebar {
        width: 200px;
    }
}
@media (max-width: 768px) {
    .sidebar {
        width: 70px;
    }

    .sidebar.collapsed {
        width: 0;
    }

    .header .hamburger-btn {
        display: inline;
    }
}

