:root {
    --app-primary-color: #024791;
    --app-secondary-color: #6c757d;
    --app-tertiary-color: #007bff;
    --app-background-color: #f8f9fa;
    --sidebar-bg-color: #343a40;
    --sidebar-header-bg-color: #272e35;
    --sidebar-text-color: #fff;
    --header-bg-color: var(--app-primary-color);
    --header-text-color: #fff;
}
